[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
uvloop = "*"
aiohttp = "*"
numpy = "*"
pytest-asyncio = "*"
sortedcontainers = "*"
"yapic.json" = "*"
websockets = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
